/* Обнуляющий стиль */
@import "null.css";
/* Подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
/* Оболочка */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	background-color: #253434;
}
/* Ограничивающий контейнер */
.container {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
	background-color: #7895ac;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.header__title {
	font-weight: 900;
	font-size: 35px;
	margin: 0px 0px 10px 0px;
}
.header__text {
	font-size: 28px;
	margin: 0px 0px 10px 0px;
}
.header__image {
	display: block;
	margin: 0px 0px 10px 0px;
}
.header__scheme {
	font-size: 28px;
	margin: 0px 0px 50px 0px;
}

.main__game {
	max-width: 1300px;
	margin: 0 auto;
}
.game__arrow {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid green;
}
.game__line-1 {
	margin: 0px 0px 0px 12.5px;
	max-width: 20px;
	height: 300px;
	background-color: black;
	visibility: hidden;
}
.game__arrow:hover + .game__line-1,  
.game__line-1:hover {
   visibility: visible;
}

.game__line-2 { 
	margin: 0px 0px 0px 12.5px;
	max-width: 987.5px;
	height: 50px;
	background-color: blue;
	visibility: hidden;
}
.game__line-1:hover + .game__line-2,  
.game__line-2:hover {
   visibility: visible;
}

.game__line-3 {
	margin: 0px 0px 0px 950px;
	min-height: 100px;
	max-width: 50px;
	background-color: gold;
	visibility: hidden;
}
.game__line-2:hover + .game__line-3,
.game__line-3:hover {
   visibility: visible;
}


.game__line-4 {
	margin: 0px 0px 0px 950px;
	max-width: 300px;
	min-height: 30px;
	background-color: olive;
	visibility: hidden;
}
.game__line-3:hover + .game__line-4,
.game__line-4:hover {
   visibility: visible;
}
.game__line-5 {
	margin: 0px 0px 0px 1200px;
	max-width: 50px;
	min-height: 200px;
	background-color: indigo;
	visibility: hidden;
}
.game__line-4:hover + .game__line-5,
.game__line-5:hover {
   visibility: visible;
}
.game__line-6 {
	margin: 0px 0px 0px 650px;
	max-width: 600px;
	min-height: 30px;
	background-color: #cd5c5c;
	visibility: hidden; 
}
.game__line-5:hover + .game__line-6,
.game__line-6:hover {
   visibility: visible;
}
.game__link {
	margin: 0px 0px 0px 550px;
	background-color: darkgreen;
   max-width: 200px;
	min-height: 50px;
	visibility: hidden; 
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	font-size: 20px;
	padding: 20px 10px;
	text-align: center;
	color: #fff;
	box-shadow: 3px 3px 4px black;
}
.game__line-6:hover + .game__link,
.game__link:hover {
   visibility: visible; 
}
